<link rel="stylesheet" href="~/css/Register.css">
<script src="~/js/Auth.js"></script>



<form asp-action="Login" method="post" class="content">

    <div id="reg-form" class="auth">

        <div class="auth__header">
            <h2>Đăng Nhập</h2>
            <a class="login" href="@Url.Action("Register", "Account")">Đăng Ký</a>
        </div>

        <div class="auth__form">
            <div class="form-control" style=" border:none ;">
                <label for="email">EMAIL<i style=" color:red">*</i></label>
                <input name="email" type="email" required />
            </div>

            <div class="form-control" style=" border:none ;" >
                <label for="password">MẬT KHẨU<i style=" color:red">*</i></label>
                <input name="password" type="password" required />
            </div>
            <button class="auth_btn" id="btnReg" type="submit" >Đăng Nhập</button>
        </div>

    </div>

</form>





@* Hiển thị thông báo lỗi *@
@if (ViewData.ModelState[""] != null)
{
    <p>@ViewData.ModelState[""].Errors[0].ErrorMessage</p>
}
