<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thành toán thành công</title>
    <link rel="stylesheet" href="../wwwroot/css/Style.css"
   @*  <link rel="stylesheet" href="~/css/style.css"> *@ <!-- Liên kết đến file CSS -->
</head>
<body>
    <header>
        <div class="logo">Đặt Vé Tàu</div>
    </header>

    <main>
        <h2>Thanh toán thành công!</h2>
        <p>Cảm ơn bạn đã đặt vé với chúng tôi!</p>
        <a href="index.html">Quay lại trang chủ</a> <!-- Liên kết về trang chủ -->
    </main>
</body>
</html>

