@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @* @if (isLoggedIn)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Manage">Hello @userName!</a>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-link text-dark" id="logoutButton">Logout</button>
        </li>
    } *@
@*     else
    { *@
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Login">Login</a>
        </li>
 @*    } *@
</ul>
