@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor


@if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
{
    <li class="nav-item">
        <span class="nav-link text-dark">Hello, @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Account/Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Account/Login">Login</a>
    </li>
}

