@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quản lý chi tiêu </title>
    <link rel="stylesheet" href="/styles/mg_Seat.css">


    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-y: auto;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f5f5f5;
            color: #333;
        }

        .fix {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 999;
        }


        header {
            background-color: #2171c1;
            padding: 15px 30px;
            border-radius: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            color: #fff;
        }

        .header {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;
        }

        .title p {
            font-size: 32px;
            font-weight: bold;
        }

        .taikhoan {
            position: absolute;
            right: 20px;
            /* Điều chỉnh khoảng cách từ bên phải nếu cần */
            top: 15px;
            /* Điều chỉnh khoảng cách từ trên nếu cần */
        }

        .account {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn_bell:hover,
        .account:hover {
            background-color: #49b7f7;
        }

        .img-gh,
        .img-acc {
            width: 20px;
            height: 20px;
        }

        .container_body {
            display: grid;
            grid-template-columns: 1fr 4fr;
            margin: 20px;
            gap: 20px;
        }

        .col_left {
            background-color: #3981c8;
            padding: 20px;
            border-radius: 10px;
        }

        .sidebar {
            list-style-type: none;
        }

        .sidebar li {
            padding: 15px;
            background-color: #2171c1;
            border-radius: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .sidebar li:hover {
            background-color: #49b7f7;
        }

        .col_right {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .first_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #3388de;
            padding: 10px 20px;
            border-radius: 10px;
        }
        .taikhoan li {
            list-style-type: none;
        }


        .taikhoan li a {
            text-decoration: none;
            color: white;
           font-size : 16px ;
        }

        .list-item a {
            color: honeydew;
        }

        .first_row h1 {
            font-size: 28px;
            font-weight: bold;
            color: #fff;
        }

        .btn_add-User {
            background-color: #49d1f7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 15px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .btn_add-User:hover {
            background-color: #3388de;
        }

        .second_row {
            background-color: #f1f7ff;
            padding: 20px;
            border-radius: 10px;
        }

        input[type="date"],
        input[type="text"],
        select {
            padding: 8px 12px;
            margin-right: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 14px;
        }

        button[type="text"] {
            background-color: #49b7f7;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        button[type="text"]:hover {
            background-color: #3388de;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table th,
        table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        table th {
            background-color: #3388de;
            color: white;
        }

        .Task_item2 button {
            margin-right: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .Task_item2 button:hover {
            background-color: #49b7f7;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination button {
            background-color: #3388de;
            color: white;
            border: none;
            padding: 10px 15px;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .pagination button:hover {
            background-color: #49b7f7;
        }
    </style>
</head>

<body onload="getSpending()">
    <div class="fix">
        <header class="header">
            <div class="title">
                <p>TRAIN.VN</p>
            </div>
            <div class="taikhoan">
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                {
                    <div class="d-flex align-items-center">
                        <li class="nav-item">
                            <span class="nav-link text-dark">Hello, @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Account/Logout">Logout</a>
                        </li>
                    </div>
                }
               @*  <button class="account" ">
                    <a href=""><img class="img-acc" src="/image/icon_account.png" /></a>
                </button> *@
                <div>
                    <h6 id="acount_name"></h6>
                </div>
            </div>
        </header>


        <!-- Fomat-side  -->
        <div class="container_body">

            <div class="col_left">
                <ul class="sidebar">
                    <li class="list-item">
                        <a href="/Schedule/ShowView">
                            Manage
                            Schedule
                        </a>
                    </li>
                    <li id="mg_User_btn" class="list-item">
                        <a href="/Train/ShowView">Manage Train</a>
                    </li>
                    <li id="mg_User_btn" class="list-item">
                        <a href="/Station/ShowView">Manage Station</a>
                    </li>
                    <li id="mg_User_btn" class="list-item">
                        <a href="/Route/ShowView">Manage Route</a>
                    </li>
                    <li id="mg_User_btn" class="list-item">
                        <a href="/Passenger">Manage Passenger</a>
                    </li>
                    <li id="mg_User_btn" class="list-item">
                        <a href="/User/ShowView">Manage User</a>
                    </li>
                </ul>
            </div>

            <div class="col_right">
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                <div class="first_row">
                    <div class="title_r">
                        <h1>Manage Schedule</h1>
                    </div>

                  
                </div>

                <div class="second_row">
                   
                    @RenderBody()

                    <!-- Pagination buttons -->
                    <div class="pagination" id="pagination"></div>
                </div>
            </div>
            </div>
        </div>

        <footer class="container_footer"></footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>

</html>